<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h2>Add New User</h2>

    <form method="post" action="/user/add/posts">

        <input type="text" name="username" id="" placeholder="Enter Username">
        <br>
        <br>
        <input type="email" name="email" id="" placeholder="Enter email">
        <br>
        <br>
        <input type="password" name="password" id="" placeholder="Enter password">
        <br>
        <br>
        <button>Submit</button>
    </form>

</body>
</html>